{{>head}}
<form class="pure-form" method="post" action="/login">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">
    <input type="reset">

</form>
{{>food}}