<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{pagename}</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">

</head>
<body>

<div class="pure-g">

    <header class="pure-u-1">
        <img src="../../static/images.png">Das ist ein Titel
    </header>

    <aside class="pure-u-1 pure-u-md-1-5">
        <span class="pure-menu-heading">{pagename}</span>
        <span class="pure-menu-heading">Available Sites:</span>
        <ul class="pure-menu-list">
            {sitelist}
        </ul>
        <div class="actions">
            <a class="pure-button" href="/show">back to main</a>
            <a class="pure-button" href="/edit/{pagename}">Edit</a>
        </div>
    </aside>

    <section class="pure-u-1 pure-u-md-4-5">
        <div class="wikitext">